<h2>User Dashboard</h2>

<ul>
    <li><a asp-controller="Vehicle" asp-action="Add">Add Vehicle</a></li>
    <li><a asp-controller="Vehicle" asp-action="List">My Vehicles</a></li>
    <li><a asp-controller="Booking" asp-action="Create">Book Service</a></li>
    <li><a asp-controller="Booking" asp-action="History">Booking History</a></li>
    <li><a asp-controller="Login" asp-action="Index">Logout</a></li>
</ul>
