@model service_booking.Models.VehicleRegister

@{
    ViewData["Title"] = "Add Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add Vehicle</h3>

<form asp-action="Add" asp-controller="AddVehicle" method="post">

    <div class="mb-3">
        <label class="form-label">Vehicle Number</label>
        <input asp-for="vehicle_number" class="form-control" />
        <span asp-validation-for="vehicle_number" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Brand</label>
        <input asp-for="brand" class="form-control" />
        <span asp-validation-for="brand" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Model</label>
        <input asp-for="model" class="form-control" />
        <span asp-validation-for="model" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Manufacturing Year</label>
        <input asp-for="manufacturing_year" type="number" class="form-control" />
        <span asp-validation-for="manufacturing_year" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">
        Add Vehicle
    </button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
